{% extends "gourceApp/base.html" %}
{% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 align="center">Gource Generator</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3 align="center">Configurações do Gource</h3>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                  <form method="POST" class="post-form" enctype="multipart/form-data"> {% csrf_token %}
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
                    {{ form.as_p }}
                    <button align="center" type="submit" onclick="location.href='{% url 'cadastro_gource' %}'" class="save btn btn-success">Salvar</button>
                  </form>
                  <br />
                  <button align="center" type="submit" onclick="location.href='{% url 'cadastro_dados' %}'" class="save btn btn-success">Inserir mais dados</button>
                  <button align="center" type="submit" onclick="location.href='{% url 'video_form' %}'" class="save btn btn-success">Gerar vídeo</button>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-12" align="center">
                    <a href="{% url 'index_page' %}"><input class="btn btn-default btn-md" type="button" value="Voltar para a Página Inicial"/></a>
                </div>
            </div>
        </div>
{% endblock %}
